/*
Copyright (C) 2015-2016 Shihan shihan@yahoo.com
This file is part of My Project.
Project files can not be copied and/or distributed without the express.
permission of Shihan
*/
/* 
    Created on : Jan 30, 2016, 11:02:14 AM
    Author     : Shihan
*/
.product-description1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    
.cbt {min-height: 60px;}
.cbt1 {height: 70px;line-height: 70px} 
.view-item {
    margin-top: 15px;
    padding: 10px 20px 0;
}

form div.required label.control-label:after {
  content:" * ";
  color:red;
}

.ast label.control-label::after {
    color: red;
    content: " * ";
}

.ocp {display: none;}

.login-logo, .register-logo {
    margin-bottom: 0px;
    background: #ffffff;
}

.login-page, .register-page {
    height: 100%;
    width: 100%;
    background-image: url(/images/loginbg.jpg);
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 50% 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper, .right-side {
    background-color: #f9f9f9;
}

.content-header > .breadcrumb {
    float: none ;
    background: #f5f5f5;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 7px 5px;
    position: static;
    /* top: 15px; */
    /* right: 10px; */
    /* border-radius: 2px; */
}

.content-header > .breadcrumb > li > a {
    color: #03A9F4;
}

.footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #eee;
    color: #444;
    padding: 15px;
    float: left;
    width: 100%;
}



.edusec-img-disp {
	border: 5px solid #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	width:135px;
	height:135px;
	margin: 15px;
}
.photo-edit {
    font-size: 15px;
    position: relative;
    top: -42px;
}
.photo-edit-icon {
  background: none repeat scroll 0 0 #fff;
  border-radius: 50%;
  padding: 5px 8px;
}
.edusec-user-profile .nav-tabs {
    border-bottom: 3px solid #00C0EF;
}

.edusec-user-profile .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   background:#00C0EF;
   color:#fff;	
}
.edusec-user-profile .nav > li > a:hover, .edusec-user-profile .nav > li > a:focus {
   
    border:1px solid #00C0EF;
}
.edusec-profile-label {
    background: #F4F4F4;
    border-bottom: 1px solid #ddd;
    padding:12px;
    word-wrap: break-word;
}
.edusec-profile-text {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding:12px;
    word-wrap: break-word;
}

.edusec-profile-text:empty:before {
    content: '\00a0';
}

.edusec-stu-emg-gur .form-group {
    float:right;
    margin-bottom:0;
}
.edusec-emg-ct-label {
   float: left;
   font-weight: bold;
   margin-right: 5px;
   margin-top: 4px;
}
.edusec-border-bottom-warning {
  border-bottom: 1px solid #f39c12;
}
.edusec-profile-title-1 {
  font-size:17px;
}
.edusec-pf-bg {
  background-color: #f4f4f4;
}
.edusec-pf-border {
  border: 1px solid #ececf0;
  box-shadow: 0 0 6px 1px #ececf0;
}

@media (max-width: 600px) {
  .disp-doc {
  	overflow: auto;
  }
}
@media (min-width: 600px) {
  .disp-doc {
  	overflow: visible;
  }
}
@media (max-width: 992px) {
  .profile-data {
  	padding: 0px !important;
  }
}

#dealeraddress{padding: 20px 10px 20px 20px; font-weight: bold;}

.box .box-solid {background-color: #F8F8F8;}
#results { display:inline-block; margin:20px; padding:20px; border:1px solid; background:#ccc; }
#my_camera{width: 100% !important;height: 100% !important;}
video {width: 100% !important;height: 100% !important;transform: scaleX(1) scaleY(1) !important;}
small {color: #fff !important; font-style: italic;}
#companyinformation-residential label,#companyinformation-commercial label{display: block;}
#painterprofile-full_name,#bankinginformation-account_name {text-transform: uppercase;}

.skin-black .main-header>.logo {background-color: #022a68;}
.skin-black .main-header>.logo:hover {background-color: #022a68;}
.page-header > small {color: #666 !important;}
.progress-description, .info-box-text{white-space: normal;}