/*
Copyright (C) 2015-2016 Shihan shihan@yahoo.com
This file is part of My Project.
Project files can not be copied and/or distributed without the express.
permission of Shihan
*/
/* 
    Created on : Jan 30, 2016, 11:02:14 AM
    Author     : Shihan
*/
.content-wrapper, .right-side {
    background-color: #FFFFFF;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #E4E4E4;
}

.skin-blue .main-header .navbar {
    background-color: #960001;
}
.skin-blue .main-header .logo {
    background-color: #5E0001;
}

.skin-blue .sidebar a {
    color: #000;
}

.edusec-user-profile .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    background: #C10C0D;
    color: #fff;
}

.edusec-user-profile .nav > li > a:hover, .edusec-user-profile .nav > li > a:focus {
    border: 1px solid #5E0001;
}

.edusec-user-profile .nav-tabs {
    border-bottom: 1px solid #CA1214;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    color: #444;
    background: #F9F9F9;
}

.nav > li > a {
    color: #444;
    background: #F9F9F9;
    border-bottom: 1px solid #CA1214;
}

.edusec-user-profile .nav > li > a:hover {
    border: 1px solid #E8E6E6;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #CC0000;
    border-left-color: #5E0001;
}

.skin-blue .main-header .logo:hover {
    background-color: #CC0000;
}

.content-header > .breadcrumb > li > a {
    color: #A70D0D;
}

a {
    color: #095886;
}

.breadcrumb>.active {
    color: #000;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #463E3E;
    content: "/\00a0";
}

.callout.callout-info {
    background-color: #E4E4E4 !important;
}

.callout.callout-info h4{color: #5D5454;}
.callout.callout-info p{color: #5D5454;}
.callout.callout-info a {
    color: #3c8dbc;
}

.login-box, .register-box {
    width: 360px;
    margin: 1% auto;
}

div#declaration .login-box {
    width: 460px;
}